# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset

#Here I saved the clean CSV from challenge 1 and brought it to challenge 2.

df = pd.read_csv('pokemon-cleaned.csv')

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

In [4]:

new_column_names = {'Sp. Atk': 'sp_atk', 'Sp. Def': 'sp_def'}
df.rename(columns=new_column_names, inplace=True)

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,sp_atk,sp_def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667,Rock-Fairy
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545,Rock-Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333,Psychic-Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667,Psychic-Dark
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667,Fire-Water

In [5]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'sp_atk', 'sp_def', 'Speed', 'Generation', 'Legendary', 'A/D Ratio',
       'Combo Type'],
      dtype='object')

In [6]:
# your code here

#Here, we multiply by 2 the power of attacking, assuming that this is a valuable trait for a pokemon.

def calculate_total(row):
    total = (row['HP'] + 2 * (row['Attack'] + row['sp_atk']) + row['Defense'] + row['sp_def'] + row['Speed']) / 6
    return total

df['Total'] = df.apply(calculate_total, axis=1)

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,sp_atk,sp_def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,72.000000,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,91.166667,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,117.833333,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,141.166667,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,70.166667,39,52,43,60,50,65,1,False,1.209302,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,133.333333,50,100,150,100,150,50,6,True,0.666667,Rock-Fairy
796,719,Mega Diancie,Rock,Fairy,170.000000,50,160,110,160,110,110,6,True,1.454545,Rock-Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,143.333333,80,110,60,150,130,70,6,True,1.833333,Psychic-Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,168.333333,80,160,60,170,130,80,6,True,2.666667,Psychic-Dark
799,721,Volcanion,Fire,Water,140.000000,80,110,120,130,90,70,6,True,0.916667,Fire-Water

In [7]:
df['Total'].isna().sum() #Based on the result 0, I would say that YES, the formula works for all pokemon.

0

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [8]:
# your code here

from sklearn.preprocessing import MultiLabelBinarizer
import pandas as pd
import numpy as np


types = df[['Type 1', 'Type 2']]

types.fillna('None', inplace=True)


mlb = MultiLabelBinarizer()
encoded_types = mlb.fit_transform(types.values)
encoded_type_names = mlb.classes_

encoded_df = pd.DataFrame(encoded_types, columns=encoded_type_names)


if 'None' in encoded_df.columns and encoded_df['None'].sum() == 0:
    encoded_df.drop('None', axis=1, inplace=True)

encoded_df

/var/folders/kd/gp0d9cx1091g1l19n5h72dhr0000gn/T/ipykernel_33882/3736746338.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  types.fillna('None', inplace=True)

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,None,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
796,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
797,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
798,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [9]:
# your code here
concatenated_df = pd.concat([df, encoded_df], axis=1)
concatenated_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,sp_atk,sp_def,...,Grass,Ground,Ice,None,Normal,Poison,Psychic,Rock,Steel,Water
0,1,Bulbasaur,Grass,Poison,72.000000,45,49,49,65,65,...,1,0,0,0,0,1,0,0,0,0
1,2,Ivysaur,Grass,Poison,91.166667,60,62,63,80,80,...,1,0,0,0,0,1,0,0,0,0
2,3,Venusaur,Grass,Poison,117.833333,80,82,83,100,100,...,1,0,0,0,0,1,0,0,0,0
3,3,Mega Venusaur,Grass,Poison,141.166667,80,100,123,122,120,...,1,0,0,0,0,1,0,0,0,0
4,4,Charmander,Fire,NaN,70.166667,39,52,43,60,50,...,0,0,0,1,0,0,0,0,0,0

In [11]:
categorical = concatenated_df.describe(include=[object]).T
categorical

           count unique        top freq
Name         800    800  Bulbasaur    1
Type 1       800     18      Water  112
Type 2       414     18     Flying   97
Combo Type   800    154     Normal   61

In [14]:
final_df = pd.concat([df['Total'], encoded_df], axis=1)
final_df.head()

,Total,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,None,Normal,Poison,Psychic,Rock,Steel,Water
0,72.000000,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
1,91.166667,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2,117.833333,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
3,141.166667,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
4,70.166667,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0

In [17]:
correlation_matrix = final_df.corr()['Total']
correlation_matrix

Total       1.000000
Bug        -0.151754
Dark        0.073979
Dragon      0.239942
Electric    0.024894
Fairy      -0.044415
Fighting    0.085793
Fire        0.099349
Flying      0.052532
Ghost       0.006331
Grass      -0.048778
Ground      0.014278
Ice         0.059986
None       -0.182245
Normal     -0.123901
Poison     -0.086160
Psychic     0.120191
Rock        0.021923
Steel       0.096764
Water      -0.023757
Name: Total, dtype: float64

In [18]:
#Remove total from the correlation matrix

correlation_matrix = correlation_matrix.drop('Total')
correlation_matrix

Bug        -0.151754
Dark        0.073979
Dragon      0.239942
Electric    0.024894
Fairy      -0.044415
Fighting    0.085793
Fire        0.099349
Flying      0.052532
Ghost       0.006331
Grass      -0.048778
Ground      0.014278
Ice         0.059986
None       -0.182245
Normal     -0.123901
Poison     -0.086160
Psychic     0.120191
Rock        0.021923
Steel       0.096764
Water      -0.023757
Name: Total, dtype: float64

In [22]:
#Sort ASC to better see results

sorted_corr = correlation_matrix.sort_values(ascending=False)
sorted_corr

Dragon      0.239942
Psychic     0.120191
Fire        0.099349
Steel       0.096764
Fighting    0.085793
Dark        0.073979
Ice         0.059986
Flying      0.052532
Electric    0.024894
Rock        0.021923
Ground      0.014278
Ghost       0.006331
Water      -0.023757
Fairy      -0.044415
Grass      -0.048778
Poison     -0.086160
Normal     -0.123901
Bug        -0.151754
None       -0.182245
Name: Total, dtype: float64

The #1 pokemon type that is most likely to have the highest Total is Dragon.

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [13]:
# Get back to this one